/* ================================
    CSS STYLES FOR Module/Skinobject Apollo.MLLanguageSelector
   ================================
*/

/* 
   =============================================
   classes for the main layout table
   =============================================
*/


/* use this class to set styles for the entire layout table*/
.MLLanguageMenuLayoutTable
{
  /* enable display:inline if the language selector should be rendered inline, 
     for instance if the selector is not positioned in its own table cell and flags/hyperlinks are visible 
     (otherwise use the class ".MLLanguageMenuTable" to control display) */

  /* display:inline; */
}

/* if display is set to horizontal, only one row is rendered, use this class to style that row*/
.MLLanguageMenuLayoutTableRow1
{
	
}

/* 
	if display is set to vertical, 2 rows can be rendered. One for the label and dropdownmenu, 
	and one for the flags/hyperlinks.
    use this class to style the second row
*/
.MLLanguageMenuLayoutTableRow2
{
	
}


/* 
   =============================================
   classes for the table used to display the dropdownmenu - used in default display
   =============================================
*/

/* class for the complete table*/
.MLLanguageMenuTable
{
  /* enable display:inline if the language selector should be rendered inline, 
     for instance if the selector is not positioned in its own table cell and only the menu is visible 
     (otherwise use the class ".MLLanguageMenuLayoutTable" to control display) */

  /*display:inline; */
}

/* class for the cell that contains the label */
.MLLanguageMenuLabelCell
{
		white-space:nowrap;
}

/* class for the cell that contains the left flag*/
.MLLanguageMenuLeftFlagCell
{
}

/* class for the cell that contains the dropdown menu */
.MLLanguageMenuMenuCell
{
		white-space:nowrap;
}

/* class for the cell that contains the right flag */
.MLLanguageMenuRightFlagCell
{
}

/* 
   =============================================
   classes for the table used to display the dropdownmenu - used in TableLess display
   =============================================
*/

/* class for the complete table*/
.MLLanguageMenuDiv
{
  /* enable display:inline if the language selector should be rendered inline, 
     for instance if the selector is not positioned in its own table cell and only the menu is visible 
     (otherwise use the class ".MLLanguageMenuLayoutTable" to control display) */

  /*display:inline; */
}

/* class for the cell that contains the label */
.MLLanguageMenuLabelSpan
{
		white-space:nowrap;
}

/* class for the cell that contains the left flag*/
.MLLanguageMenuLeftFlagSpan
{
}

/* class for the cell that contains the dropdown menu */
.MLLanguageMenuMenuSpan
{
		white-space:nowrap;
}

/* class for the cell that contains the right flag */
.MLLanguageMenuRightFlagSpan
{
}

/* 
   =============================================
   classes for the table which in which the flags and urls are rendered
   =============================================
*/

/* class for the complete table */
.MLLanguageSelectionItemTable
{
	padding:0px;
	margin:0px;
	border:0px;
}

/* class for the cells that contain the flags*/
.MLLanguageSelectionItemFlag
{
	padding:2px;
	margin:0px;
	width:34px;
	text-align:center ;
}

/* class for the cells that contain the hyperlinks*/
.MLLanguageSelectionItemURL
{
	padding:2px;
	margin:0px;
	white-space:nowrap;
	text-align:center ;
}

/* class for the rows that contain the flags and hyperlinks*/
.MLLanguageSelectionItemRow
{
}

/* class for the rows that contain the flags and hyperlinks*/
.MLLanguageSelectionFlag_Active
{
	filter: alpha(opacity=100);
	-moz-opacity: 1.0;
	opacity:1.0;
	}

/* class for the rows that contain the flags and hyperlinks*/
.MLLanguageSelectionFlag_Inactive
{
	filter: alpha(opacity=80); 
	-moz-opacity: .8;
	opacity:.80;

}